*{
    box-sizing:border-box;
}

body {
    background-color :#f2f2f2;
    font-size: 62.5%;
    font-family: HKGrotesk, sans-serif;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.hometop {
    background-color: #F8D5E2;
    height: 50vh;
    width: 100vw;
    position:relative;
    border-top: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
}

nav {
    width: 98%;
    padding: 10px;
    position: relative;
    z-index: 10;
}

.mypicture {
    width: 100px;
    height: 100px;
    border: 2px solid #adddef;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

/*.mypicture:hover {*/
/*width: 200px;*/
/*height: 200px;*/
/*}*/

nav a {
    text-decoration: none;
    font-size: 2vh;
    color: #404040;
    float: right;
    margin: 14px;
}

nav a:hover {
    color: #adddef;
}

@media only all and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
    }
}

.homecenter {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
    z-index: 2;
}

.arrows {
    width: 60%;
    height: 90%;
    position: absolute;
    left: 20%;
}

h1 {
    color: #404040;
    font-family: "NoeText", sans-serif;
    font-size: 6vw;
    z-index: 3;
    position: absolute;
    bottom: 15px;
    left: 25%;
    margin: 0;
}

h2 {
    color: #404040;
    font-family: "NoeText", sans-serif;
    font-size: 3vw;
    z-index: 3;
    position: absolute;
    bottom: -60px;
    left: 25%;
    margin: 0;
}

.social {
    display:flex;
    flex-direction: column;
    font-size: 5vh;
    position: absolute;
    bottom: 10px;
    left: 3%;
}

.social a {
    color: #F8D5E2;
}

.social a:hover {
    color: #adddef;
}
.aboutme-arrows {
    opacity: 0.5;
}
h3 {
    color: #404040;
    font-family: "NoeText", sans-serif;
    font-size: 4vh;
    z-index: 3;
}

h4 {
    color: #404040;
    font-family: "NoeText", sans-serif;
    font-size: 2.5vh;
    z-index: 3;
}

.aboutme {
    width: 30%;
    overflow: auto;
    position: absolute;
    top: 60%;
    left: 35%;
}

.aboutme-hometop {
    background-color: #adddef;
    height: 50vh;
    width: 100vw;
    position: relative;
    border-top: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
}

.aboutme-hometop nav a:hover {
    color: #F8D5E2;
}

.aboutme-social a {
    color: #adddef;
}

.aboutme-social a:hover {
    color: #F8D5E2;
}

.aboutme-social {
    display:flex;
    flex-direction: column;
    font-size: 5vh;
    position: absolute;
    bottom: 10px;
    left: 3%;
}

.aboutme-mypicture {
    border: 2px solid #F8D5E2;
}

.contacts-hometop {
    background-color: #cee4c7;
}

.contacts-social a {
    color: #cee4c7;
}

.contacts-social a:hover {
    color: #F8D5E2;
}

.contacts-hometop nav a:hover {
    color: #F8D5E2;
}

.contacts {
    width: 30%;
    overflow: auto;
    position: absolute;
    top: 34%;
    left: 35%;
}

span {
    font-size: 3vh;
    font-weight: bold;
    color: #cee4c7;
    background-color: #404040;
    border-radius: 25%;
    position: relative;
    z-index: 8;
}

span:hover {
    background-color: #F8D5E2;
    color: #404040;
}


