*{
    box-sizing:border-box;
}

body {
    text-align: center;
}

h1 {
    color: #adddef;
}

table {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.addbutton {
    padding: 5px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    background-color: #adddef;
    border-radius: 20% ;
    color: #000;
}

a:hover {
    background-color: #F8D5E2;
}

.deletebutton {
    background-color: #FA8072;
}

.editbutton {
    padding: 1px 17px 1px 17px;
}

input {
    background-color: #adddef;
    border-radius: 20% ;
}

input:hover {
    background-color: #F8D5E2;
}

form {
    margin: 100px;
}

label {
    font-size: 1.2rem;
    margin: 20px;
    width:180px;
}

.addform {
    margin: 20px;
    background-color: white;
    border-radius: 0;
    border: 2px solid #adddef;
}

input [type=submit] {
    margin-top: 50px;
}

.container {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}