*{
    box-sizing:border-box;
}
body {
    text-align: center;
}

h1 {
    color: #adddef;
}

table {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
    background-color: #adddef;
    border-radius: 20% ;
    color: #000;
}

a:hover {
    background-color: #F8D5E2;
}

input {
    background-color: #adddef;
    border-radius: 20% ;
}

input:hover {
    background-color: #F8D5E2;
}